/* All-common CSS style*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.Noto-serif{
    font-family: "Noto Serif", serif;
}
.Inter{
     font-family: "Inter", sans-serif;
}
.page-container{
    max-width: 1400px;
    margin: 0 auto;
    margin-top: 30px;
    padding-left: 20px;
    padding-right: 10px;
}


body{
    background-color: #F5F8FF;
}













/* Nav Portion */

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-items{
    display: flex;
    
}
nav a{
    text-decoration: none;
    margin-right: 30px;
    color: #252432;
    font-weight: 700;
}
.nav-span{
    color: #8987A1;
    font-weight: 400;
}
.nav-cart{
    color: #000000;
    font-weight: 400;
    font-size: 1rem;
}

/* header banner*/

.banner{
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
    align-items: end;
}

.banner-flower{
   display: block;
}

.head-title1{
    color: black;
    font-size: 4.06rem;
    font-weight: 700;
    max-width: 570px;
}

.color-head-title1{
    color: #E95A08;
}

.paragraph{
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.37rem;
    text-align: justify;
    text-justify: inter-word;
    max-width: 570px;
    margin-top: 12px;
}



/* our plants portion*/

.plants-container{
    text-align: center;
    justify-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
}
.paragraph-text{
    max-width: 70%;
    text-align: center;
}
.common-title{
    color: black;
    font-weight: 700;
    font-size: 3.125rem;
}

.common-title span{
    color: #E95A08;
}


/* flower jar card portion */

.jar-container{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    justify-items: center;
    width: 100%;
}

.card{
    max-width: 100%;
    margin: 0;
    box-shadow: 0px 3px 21px -7px rgba(4,1,1,0.86);
    -webkit-box-shadow: 0px 3px 21px -7px rgba(4,1,1,0.86);
    -moz-box-shadow: 0px 3px 21px -7px rgba(4,1,1,0.86);
}

.image-contain{
    width: 100%;
}

.flower-name{
   justify-items: center;
}

.flower-name h3{
    color: black;
    font-weight: 500;
    font-size: 1.37rem;
    margin-top: 30px;
    margin-bottom: 15px;
}
.price{
    font-size: 1.73rem;
    color: #111111;
    font-weight: 700;
    margin-bottom: 20px;
}

.card-btn{
    width: 100%;
    padding: 18px 50px;
    color: white;
    font-weight: 600;
    background-color: #E95A08;
    border: none;
    cursor: pointer;
}



.card-btn:hover{
    background: #833AB4;
    background: linear-gradient(229deg, rgba(131, 58, 180, 1) 0%, rgba(145, 55, 163, 1) 6%, rgba(253, 29, 29, 1) 45%, rgba(230, 142, 0, 1) 95%);

}



/* flower and plants lover portion */
.tr-seller-container{
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
}
.plants{
    margin-top: 150px;
}

.trust-seller{
    max-width: 540px;
    max-height: 597px;
    position: relative;
}

.trusted-sale{
    width: 286px;
    height: 286px;
    position: absolute;
    top: -120px;
    left: 380px;
}
.trusted-sale img{
    width: 100%;
}

.plants-lover-description{
    max-width: 700px;
    max-height: 520px;
    text-align: left;
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.2rem;
    margin-left: 25px;
}
.plants-lover-description ul li p{
    margin-bottom: 15px;
}


.plants-title{
    font-weight: 700;
    font-size: 3.125rem;
    margin-bottom: 10px;
}
